.DS_Store

# Debian package
debhelper-build-stamp
.DS_Store
.debhelper
*.deb
*.ddeb
*.dsc
*.build
*.buildinfo
*.changes
*.tar.gz
*.log
*.substvars
/.vagrant
/*/debian/routerd
/*/debian/files
/*/routerd
/*/debian/output
/tutorial-1/packageroot/usr

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
